<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册新用户</title>

    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/index/style.css">

    <script src="../js/jQuery-2.2.4-min.js"></script>
    <script src="../js/index/style.js"></script>
</head>
<body>

<style>
    div.main {
        padding-bottom: 20px;
    }
</style>

<h2>Contract Management</h2>

<div class="main">
    <p class="status">注册</p>
    <form action="../../" method="post">
        <input type="text" name="name" placeholder="用户名">
        <input type="password" name="password" placeholder="密码">
        <input type="password" name="password_confirm" placeholder="确认密码">
        <input type="text" name="action" value="register">
        <input type="submit" value="确认">
    </form>
</div>

<script src="../js/index/style.js"></script>
</body>
</html>